*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
}

.main-wrapper {
  padding: 2rem;
  container-name: main;
  container-type: inline-size;
}

.section {
  display: grid;
  gap: 2rem;
}

@container main (min-width: 600px) {
  .section {
    grid-template-columns: repeat(3, 1fr);
  }

  .section h2 {
    font-size: 2rem;
    color: hsl(25, 100%, 50%);
  }

  .section article p {
    color: hsl(25, 0%, 75%);
  }
}

/* @container main (width > calc(200px * 3)) {
    .section {
        grid-template-columns: repeat(3, 1fr);
    }
} */
